
html { margin: 30px auto; width: 70%; font-size: 100%; }
body { margin: 0px auto; width: 100%; font-size: 100%; }

a { text-decoration: none; color: #E14000; }
a:hover { text-decoration: underline; }

p, ul { font-size: 1.1em; line-height: 1.3em; color: #333; font-family: 'fira sans'; }


h1 { font-size: 1.6em !important; font-weight: 600; font-family: 'fira sans'; }
h2 { font-size: 1.3em !important; font-weight: 600; font-family: 'fira sans'; }
h3 { font-size: 1.1em !important; font-weight: 600; font-family: 'fira sans'; }


nav ul, footer ul { font-size: 1em; font-family: 'fira sans'; padding: 0px; list-style: none; font-weight: bold; }
nav ul li, footer ul li { display: inline; margin-right: 20px; }

nav ul, footer ul a { color: #999; }

nav ul a { color: #999; font-size: 1.2em; font-weight: normal; }
nav ul li a { color: #999; font-size:1.2em; font-weight: normal;}
nav ul li a:hover { text-decoration: none; color: #E14000;}
nav ul .activepage a { color: #E14000; font-size: 1.6em; font-weight: bold;}
nav ul li .activepage a { color: #E14000; font-size: 1.6em; font-weight: bold;}
nav ul li .activepage a:hover { text-decoration: none; color: #E14000;}

nav { border-top: 1px solid #d5d5d5; border-bottom: 1px solid #d5d5d5; }
footer { border-top: 1px solid #d5d5d5; font-size: 1.4em; }
footer a:hover { color: #E14000; }

post.share-page {
    text-align: left; font-family: 'fira sans'; 
}

/* Blog */
ul.posts { margin: 20px auto 40px; font-size: 1.1em; line-height: 1.3em; font-family: 'fira sans'}
ul.posts li { list-style: none; }


