</ul>
   <li {%if page.title == 'Home' %}class="active"{% endif %}><a href="/Home/">Home</a></li>
   <li {%if page.title == 'About' %}class="active"{% endif %}><a href="/About/">About</a></li>
   <li {%if page.title == 'Publications' %}class="active"{% endif %}><a href="/Publications/">Publications</a></li>
   <li {%if page.title == 'Research' %}class="active"{% endif %}><a href="/Research/">Research</a></li>
   <li {%if page.title == 'Blog' %}class="active"{% endif %}><a href="/Blog/">Blog</a></li>
   <li {%if page.title == 'Contact' %}class="active"{% endif %}><a href="/Contact/">Contact</a></li>
   <li {%if page.title == 'Opportunities' %}class="active"{% endif %}><a href="/Opportunities/">Opportunities</a></li>
   <li {%if page.title == 'Links' %}class="active"{% endif %}><a href="/Links/">Links</a></li>
</ul>