<!DOCTYPE html>
<html>
      <head>
            <title>{{ page.title }}</title>
    
            <link rel="stylesheet" type="text/css" href="/css/main.css">
            
                    <style>
            body { }
            #banner {  width: 70%; 
                position: absolute;
                top: 0px;
                height: 200px;
                }
        </style>
    </head>
    <body>
        <img id="banner" src="mybannerimage.gif" alt="Banner Image"/>
        </body>
    
   
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="/cv">CV</a></li>
<li><a href="/Research">Research</a></li>
<li><a href="/Publications">Publications</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:jdtonkin@gmail.com">email</a></li>
   <li><a href="https://github.com/jdtonkin">github.com/jdtonkin</a></li>
   </ul>
  </footer>
  </body>

</html>
