<!DOCTYPE html>
<html>
      <head>
            <title>{{ page.title }}</title>
    
            <link rel="stylesheet" type="text/css" href="/css/main.css">
            
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
            
            <link rel="stylesheet" href="//code.cdn.mozilla.net/fonts/fira.css">

      </head>


      <body>       
      
      <div>
            <p><span style="font-size: 200%">Jonathan <strong>Tonkin</strong></span> Ecologist</p>
      </div>
   
    <nav>
<ul>
<li {%if page.title == 'JonathanTonkin' %}class="activepage"{% endif %}><a href="/">Jonathan<strong>Tonkin</strong></a></li>
   <li {%if page.title == 'About' %}class="activepage"{% endif %}><a href="/About/">About</a></li>
   <li {%if page.title == 'Publications' %}class="activepage"{% endif %}><a href="/Publications/">Publications</a></li>
   <li {%if page.title == 'Research' %}class="activepage"{% endif %}><a href="/Research/">Research</a></li>
   <li {%if page.title == 'Blog' %}class="activepage"{% endif %}><a href="/Blog/">Blog</a></li>
   <li {%if page.title == 'Opportunities' %}class="activepage"{% endif %}><a href="/Opportunities/">Opportunities</a></li>
   <li {%if page.title == 'Links' %}class="activepage"{% endif %}><a href="/Links/">Links</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:jdtonkin@gmail.com" title="Email - personal"><i class="fa fa-fw fa-envelope"></i></a></li>
   <li><a href="mailto:jonathan.tonkin@senckenberg.de" title="Email - work"><i class="fa fa-fw fa-envelope-o"></i></a></li>
   <li><a href="http://twitter.com/jdtonkin" title="Twitter"><i class="fa fa-fw fa-twitter"></i></a></li>
   <li><a href="https://github.com/jdtonkin" title="Github"><i class="fa fa-fw fa-github"></i></a></li>
   <li><a href="https://plus.google.com/+JonathanTonkin/" title="Google+"><i class="fa fa-fw fa-google-plus-square"></i></a></li>
   <li><a href="https://de.linkedin.com/pub/jonathan-tonkin/27/777/a49" title="Linkedin"><i class="fa fa-fw fa-linkedin"></i></a></li>
   </ul>
  </footer>
  </body>

</html>
